### 1.	Load the dataset into a dataframe, using the df.head (), df.info () methods to inspect the data.

In [1]:
import pandas as pd
from collections import Counter

In [2]:
df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')

In [3]:
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
Unnamed: 0                 23486 non-null int64
Clothing ID                23486 non-null int64
Age                        23486 non-null int64
Title                      19676 non-null object
Review Text                22641 non-null object
Rating                     23486 non-null int64
Recommended IND            23486 non-null int64
Positive Feedback Count    23486 non-null int64
Division Name              23472 non-null object
Department Name            23472 non-null object
Class Name                 23472 non-null object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

### 2.	Drop the first column, which has the duplicate index information.

In [5]:
df = df.drop(['Unnamed: 0'],axis=1)

### 3.	AS shown in info session, there are missing values in Title, Review Text, Division Name, Department Name and Class Name. Because the ‘Review Text’ is the KEY factor in this analysis, I will drop the missing values from ‘Review Text’ columns and keep the others columns missing values for exploratory data analysis later.

In [6]:
df = df[df['Review Text'].notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22641 entries, 0 to 23485
Data columns (total 10 columns):
Clothing ID                22641 non-null int64
Age                        22641 non-null int64
Title                      19675 non-null object
Review Text                22641 non-null object
Rating                     22641 non-null int64
Recommended IND            22641 non-null int64
Positive Feedback Count    22641 non-null int64
Division Name              22628 non-null object
Department Name            22628 non-null object
Class Name                 22628 non-null object
dtypes: int64(5), object(5)
memory usage: 1.9+ MB

### 4. Add a column named ‘Word Counts’ to count the words in each review , add 'review length'  column and 'sentiment' column for later analysis

In [7]:
df['Word Counts'] = df['Review Text'].str.split().apply(lambda x: Counter(x))
df['review length']=df['Review Text'].str.split().apply(len)
df['Sentiment']= df['Rating']>=3
df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Word Counts,review length,Sentiment
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,"{'Absolutely': 1, 'wonderful': 1, '-': 1, 'sil...",8,True
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,"{'Love': 1, 'this': 1, 'dress!': 1, 'it's': 2,...",62,True
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,"{'I': 1, 'had': 2, 'such': 1, 'high': 1, 'hope...",98,True
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,"{'I': 1, 'love,': 2, 'love': 1, 'this': 1, 'ju...",22,True
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,"{'This': 1, 'shirt': 1, 'is': 3, 'very': 1, 'f...",36,True

### 5. Save to File

In [8]:
df.to_csv('df.csv',index= False)

#### Due to this dataset is a NPL problem; there are no outliers to handle.